.AdminAdd .lander {
    padding: 80px 0;
    text-align: center;
}
  
.AdminAdd .lander h1 {
font-family: "Open Sans", sans-serif;
font-weight: 600;

}

.link {
    color: grey;
}
  
.link:hover {
    color: black;
}